body h1 {
     background-color: lightseagreen;
     font-family: Arial;
}
body {
    background: linear-gradient(180deg, #58C5AB 0%, rgba(61, 197, 164, 0) 100%);
    word-spacing: 10px;
    font-variant:small-caps;
    text-align:center;
    font-family: arial;
}